<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sin Permisos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 50px;
        }

        .mensaje {
            font-size: 24px;
            color: #ff0000;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div>
        <img src="img/franciscoObando.jpg" alt="Imagen de Francisco Obando" width="300">
        <div class="mensaje">Lo sentimos, no tienes permisos para acceder a esta página.</div>
        <p>Por favor, contacta al administrador del sistema para obtener más información.</p>
    </div>
</body>
</html>
